* {
  margin: 0;
  padding: 0;
}

html {

  background-image: url(Photos/Background/005_wood_oakslabs.jpg)

  /* background: #222 url("bg.png") repeat; */
}

body {
  text-align: center;
  padding: 20px;
  _width: 70%;
  color: #888;
  font: 14px/20px Helvetica, Arial, sans-serif;
  margin: 20px auto 0;
  max-width: 800px;
  
  -webkit-font-smoothing: antialiased;

  /* background: #959796 url(Photos/Background/009_wood_bluewood.jpg);
  */
  
}
ul
{
    list-style-type: none;
}

h1 {
  font: 40px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
  }

.navigation li{
  display: inline;
  font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.polaroids {
  position: relative;
  width: 440px;
  margin: 40px;
}

.polaroids img {
  border: 20px solid #fff;
  border-bottom: 90px solid #fff;
  -webkit-box-shadow: 6px 6px 6px #777;
     -moz-box-shadow: 6px 6px 6px #777;
          box-shadow: 6px 6px 6px #777;
}

.rslides {
  margin: 0 auto 40px;
  }

a {
  color: #fff;
  text-decoration: none;
  }