/*!     Header     */

.logo {
    float:left;
}


.navmenu {
     margin-left: 20px;
     float:left;
     margin-top: 40px;

    }
.clear {
  clear:both;
}

/*! FONTS 
font-family: 'Doppio One', sans-serif;
*/



/*!    All paragraphs      */



p {
  color: rgb(100,155,255);
  font-family: 'Doppio One', sans-serif;
}

/*!
All links in an unordered list
 */
ul a {
color: rgb(155,0,0)
}

/*!
All hover links in an unordered list
 */
ul a:hover {
  color: rgb(90,125,155);
}

div.float {
  float: left;
  padding-left: 30px;
  }
  
div.float p {
   text-align: center;
   font-family: 'Doppio One', sans-serif;
   }

