body {
	background-color: OldLace;
	/*background: url(/homework/flower-hill-tribe/images/Stripes.jpeg);*/
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.wrapper {
	width: 1200px; /* 960px */
	padding: 10px;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
}
.clear {
	clear: both;
}
.title {
	font-family: "skinny", sans-serif;
	color: Brown;
	font-size: 60px;
	margin: auto;
	padding: 20px;
	text-align: center;
}
.about-details {
}
.about-description {
	height: auto;
	width: 1100px;
	font-family: helvetica;
	font-size: 20px;
	margin: 20px;
	float: left;
	line-height: 1.2;
	text-decoration: none;
}
.about-thumb {
	float:left;
}
.about-thumb-img {
	height: 800px;
	width: 1000px;
	margin-left: 100px;
	float: left;
	border-radius: 5px;
}
.about-list-style {
	list-style-type: none;
}
.about-details{
	margin: 20px;
}