body {
	background-color: RosyBrown;
	/*background: url(/homework/flower-hill-tribe/images/Stripes.jpeg);*/
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.wrapper {
	width: 1200px; /* 960px */
	padding: 10px;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
}
.events .event {
	font-family: "SevenSixteen", sans-serif;
}



/*  Main Page Events */

.main .event {
  /*
    Styles that apply to events on the main page
  */
}






/* Single Event event */
.page .event {
  /*
    Styles that apply to single page events
  */

}






/*----------------------------------------*/


.coachella-2012 .event .title {

}