body {
	background-color: OldLace;
	/*background: url(/homework/flower-hill-tribe/images/Stripes.jpeg);*/
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.wrapper {
	width: 1200px; /* 960px */
	padding: 10px;
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
}
.clear{
	clear: both;
}
.event-name {
	font-family: "skinny", sans-serif;
	font-size: 60px;
	color: Purple;
	margin: auto;
	margin-bottom: 5px;
	padding-bottom: 2px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: right;
	text-align: right;
}
.events-list {

}
.event-list-style {
	list-style: none;
}
.event-thumb {
	margin: 5px;
	text-align: center;
}
.event-thumb-img {
	border-radius: 5px;
	height: 600px;
	width: 600px;
	margin: 20px;
}
.event-details {

}
.event-description {
	height: auto;
	width: 1104px;
	font-family: helvetica;
	font-size: 18px;
	line-height: 1.2;
	margin: 20px;
	float: left;	
}
.event-list {
	font-family: "skinny", helvetica;
	font-size: 40px;
	margin: 5px;
	text-align: center;
}
.event-links {
	text-decoration: none;
	text-align: left;
	color: #D2691E;

}