.MyName {
	font-family: 'Arvo', serif;
	font-size: 100px;
	text-align: center;
}
p {
	text-align: center;
}
.center {
	width: 815px;
	margin: 10px auto;
}

.doorList {
	padding: 0px;	
}

.door {
	display: inline-block;
}

.theDoors {
	margin: 0px 20px;
}

.theDoors:hover{
	opacity: 0.5;
}