.box-example {
  margin: 30px auto 0;
  width: 500px;
}

.box-example-small {
  margin: 30px auto 0;
  width: 300px;
}

.box-example-large {
  margin: 30px auto 0;
  width: 600px;
}

.box-example-left {
  margin: 30px auto 0;
  width: 300;
}

.box-example-right {
  margin: 30px auto 0;
  width: 300px;
}


.box-model-box-small {
  height: 75px;
  line-height: 200px;
  padding: 10px;
  margin: 10px;
  width: 75px;
}

.box-model-box {
  height: 200px;
  line-height: 200px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.box-model-rect {
  height: 200px;
  line-height: 200px;
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.box-model-rect-small {
  height: 100px;
  line-height: 200px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.red {
  background-color:red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.clear {
  clear:both;
}

.relative {
  position: relative;
  top: -220px;
  left: 20px;
}

.absolute {
  position: absolute;
  bottom: 150px;
  right: 300px;
}

.border {
  border: 1px solid black;
}
