body {
	font-size: 80%;
	font-family: Georgia, serif;
	letter-spacing: 0.15em;
	text-align: center;
	background-image: url("http://originscoffee.com/images/burlap.jpg");
	background-repeat: repeat;
}

.page {
	width: 940px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #efefef;
}

header {
	width: 100%;
}
	.logo {
		margin: 5px auto 5px auto;
		font-family: 'Metamorphous', cursive;
		font-size: 48px;
		text-align: center;
	}
	.logo a {
		text-decoration: none;
		color: gray;
	}

	.logo a:hover {
		color: pink;
	}

	.top-nav ul {
		padding: 15px;
		margin: 0px auto 0px auto;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
		text-align: center;
		width: 826px;
	}
	.top-nav li {
		display: inline;
		margin: 0px 3px;
	}
	.top-nav a {
		color: black;
		text-decoration: none;
	}
	.top-nav a:hover {
		color:pink;
		border-bottom : 1px dotted;
	}

.content {
	display: inline-block;
	padding: 20px;
}

	/* Menu */
	.menu-section {
		margin: 0 auto;
		width: 826px;
	}
	.menu-section h3 {
		font-weight: bold;
	}
	.menu-section h2 {
		font-weight: italic;
	}
	.menu-section p {
		text-align: left;
	}
	.menu-section span {
		float: right;
	}

	/* Directions */
	.map {
		float: right;
	}
	.directions {
		float: left;
		margin-right: 90px;
		text-align: left;
	}
		.directions p {
			margin: 0 0 5px;
		}

	/* About */
	.about {
		margin: 0 auto;
		width: 846px;
	}
	.menu-section p {
		text-align: left;
	}

footer {
	border-top: 2px solid #000;
	margin: 0 auto;
	padding: 15px;
	width: 826px;
}

