/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*-- 
::::    ::::      :::     ::::::::::: ::::    :::                   
+:+:+: :+:+:+   :+: :+:       :+:     :+:+:   :+:                   
+:+ +:+:+ +:+  +:+   +:+      +:+     :+:+:+  +:+                   
+#+  +:+  +#+ +#++:++#++:     +#+     +#+ +:+ +#+                   
+#+       +#+ +#+     +#+     +#+     +#+  +#+#+#                   
#+#       #+# #+#     #+#     #+#     #+#   #+#+#                   
###       ### ###     ### ########### ###    ####                   
                                                                    
  
                                                                    
    :::      :::::::: ::::::::::: ::::::::::: ::::::::  ::::    ::: 
  :+: :+:   :+:    :+:    :+:         :+:    :+:    :+: :+:+:   :+: 
 +:+   +:+  +:+           +:+         +:+    +:+    +:+ :+:+:+  +:+ 
+#++:++#++: +#+           +#+         +#+    +#+    +:+ +#+ +:+ +#+ 
+#+     +#+ +#+           +#+         +#+    +#+    +#+ +#+  +#+#+# 
#+#     #+# #+#    #+#    #+#         #+#    #+#    #+# #+#   #+#+# 
###     ###  ########     ###     ########### ########  ###    #### 
--*/

body {
  	background-color: #c8c8c8;
  	font-family: 'Open Sans', sans-serif;
	font-weight:400;
 }


h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 3em;	
	color: #000000;	
}

h2 {	
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 600;
	color: #222;
}

li{
	list-style: none;
	margin-left: 0;
}


a {
  	color: inherit;
  	text-decoration: none; 
  	font-weight:600;
}

a:hover{
	color:white;
}

p{	
	line-height: 1.5;
	margin-bottom: 1em;
}

h1{
	margin-bottom: .5em;
}

/*-- Sections --*/

.container{
	width: 960px;
	margin : 0 auto;
}


.navigation{
	padding:30px;
}


.navigation li{
	text-transform: uppercase;
	display: inline;
	margin-right:1em;
}

.navigation a:hover{
	color: #FFFFFF;
}

.active {
	color: #FFFFFF;
}

.introduction { 	
	padding: 50px;
	background: #EF4723;
}

.work li{
	display: inline;
	margin:1em;
}

.work{
	padding: 50px;
	background: #FCFAF2;

}

.work-list {
	padding: 0;

}


.work img{
    width: 245px;
    margin-bottom: 30px;
}

.about { 	
	padding: 50px;
	background-color : #0AC5F4;
}

.footer{
	background: black;
	padding: 50px;
	color: white;
  	text-align: center;
}

.footer h1{
	color: white;
}

.footer a:hover{
	color:gray;
}

/*-- 
   ::::    ::::   ::::::::  ::::::::: ::::::::::: :::        ::::::::::         
+:+:+: :+:+:+ :+:    :+: :+:    :+:    :+:     :+:        :+:                
+:+ +:+:+ +:+ +:+    +:+ +:+    +:+    +:+     +:+        +:+                
+#+  +:+  +#+ +#+    +:+ +#++:++#+     +#+     +#+        +#++:++#           
+#+       +#+ +#+    +#+ +#+    +#+    +#+     +#+        +#+                
#+#       #+# #+#    #+# #+#    #+#    #+#     #+#        #+#                
###       ###  ########  ######### ########### ########## ##########                                                                                      
                                                                             

                                                                             
:::    :::  :::::::: ::::::::::: ::::    ::: :::::::::: ::::::::   ::::::::  
:+:    :+: :+:    :+:    :+:     :+:+:   :+: :+:       :+:    :+: :+:    :+: 
+:+    +:+ +:+    +:+    +:+     :+:+:+  +:+ +:+       +:+        +:+        
+#++:++#++ +#+    +:+    +#+     +#+ +:+ +#+ +#++:++#  +#++:++#++ +#++:++#++ 
+#+    +#+ +#+    +#+    +#+     +#+  +#+#+# +#+              +#+        +#+ 
#+#    #+# #+#    #+#    #+#     #+#   #+#+# #+#       #+#    #+# #+#    #+# 
###    ###  ########     ###     ###    #### ########## ########   ########                                                                                                                        

| screens smaller than 480 --*/
@media only screen and (max-device-width: 480px) {

	.container {
		width : 100%;
		overflow-x: hidden; /*-- stop the horizontal scroll --*/
		margin:0;
	}


	.navigation ul{
		padding:0;
	}

	.navigation li{
		display: block;
		text-align: center;
		padding: 20px;
		border-bottom: 1px solid #A3A5A8;  
	}

	.active {
		background-color: #4A4A4A;
		color: #FFFFFF;
	}

	.introduction {
		background-color : #0AC5F4;
	}

	.work {
		padding : 50px 0;
		text-align: center;
	}

	.work li {
		margin : 1em 0;
	}
}